/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 29, 2018, 9:24:40 AM
    Author     : Tanveer Qureshee
*/
@media screen {
    #pdf_content_section{
        width: 21cm;
        height: auto;
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        font-size: 1em;
        color: #333333;
        
    }
    #pdf_content_section table.pdf_table{
        border-collapse: collapse;
        width: 17cm;
        margin-top:.5cm;
        margin-right: 2cm;
        margin-bottom: 1.5cm;
        margin-left: 2cm;
    }
    #pdf_content_section table.pdf_table th, td {
        border: 1px solid #ddd;
        text-align: left;
        padding: 2px;
        vertical-align: top;
    }
    tr:nth-child(even) {background-color: #f2f2f2;
    }
    #pdf_content_section h3{
        text-align: center;
        text-transform: uppercase;
    }
    #pdf_content_section img.print_header_image {
        max-width: 100% !important;
    }
}