html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: "LatoWeb";
    font-size: 9pt;
    font-style: normal;
    height: 100vh;
    margin: 0;
}
.highcharts-credits{
    display: none !important;
}
.full-height {
    height: 100vh;
}
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}
.position-ref {
    position: relative;
}
.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}
.content {
    text-align: center;
}
.title {
    font-size: 84px;
}
.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.m-b-md {
    margin-bottom: 30px;
}
.json_alert_message{
    display: none;
}
.wizard > .content > .body {
    position: relative !important;
}
.step_form_area .content{
    text-align: left;
}
.wizard > .content > .body label {
    margin-right: 1%;
}
.required_title{
    color: red;
    font-style: italic;
    font-size: 10px;
}
.required_title:before {
   content: " Field is required. ";
}
.page-break {
    page-break-after: always;
}
#content_loader{
    position: relative;
    left: 35%;
    top: 35%;
    z-index: 999;
    display: none;
}
.dropable_object{
    float: left;
    border: 1px solid lightgray;
    padding: 2%;
    margin: 1% 0;
    width: 100%;
    cursor: move;
    position: relative !important;
    z-index: 111;
}
.general_fields_class{
    margin: 0;
    padding: 0;
    height: 1px;
}
.edit_field_class{
    font-size: 16px;
    cursor: pointer;
}
.edit_field_class:hover{
    font-style: italic;
    color: yellow;
}